* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  width: 100vw;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /* ll */
  height: 77px;
  border: 2px solid gray;
  padding: 14px;
  align-self: flex-end;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 7px;
}
.tabuleiro {
  display: flex;
  flex-flow: column nowrap;
  max-width: 350px;
  gap: 7px;
  padding: 10px;
  /* ll */
  width: 90%;
}

.linha-tab {
  display: flex;
  width: 100%;
  column-gap: 7px;
  /* ll */
}

.linha-tab .quad {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 62px;

  /* ll */
  border: 1px solid gray;
}

.teclado {
  max-width: 490px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  width: 97%;
}

.teclado .linha-tecla {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 4px;

  /* ll */
}

.linha-tecla .tecla {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  min-width: 45px;
  border-color: transparent;
  border-radius: 4px;
  background-color: #c7c7c7;
}

.correct {
  background-color: green;
}
.parcial-correct {
  background-color: yellow;
}
.wrong {
  background-color: gray;
}
